RewriteEngine on

Options -Indexes

Redirect /history http://www.santacruzsound.com/index.html#history
Redirect /services http://www.santacruzsound.com/index.html#services
Redirect /contact http://www.santacruzsound.com/index.html#contact
Redirect /directions http://www.santacruzsound.com/index.html#directions

RedirectMatch 403 /.*\.htaccess$
