@charset "UTF-8";

/* 1: Push the footer off of the screen. */
#footer-adhesive { /* This should contain all of the body except the footer. */
	min-height: 100%;
}
/* 2: Add enough space for the footer to overlap. */
#content { /* This should be the last least-nested element with a sibling. */
	padding-bottom: 6em; /* = #footer height */
}
/* 3: Push the footer back onto the screen. */
#footer {
	position:   relative; /* This removes the (off-screen) footer from the page flow. */
	margin-top: -6em;  /* = - #footer height */
	height:     6em;
}
