@charset "UTF-8";

/*classes*/
.lh {
	margin-top:  1.5em;
	text-align:  left;
	font-weight: bold;
	font-style:  italic;
	color:       #999;
}
.panes {
	clear:   both;
	display: inline-block;
	margin:  1em auto;
	width:   60em;
}
.titles {
	border-bottom:  0.25em solid #FFF;
	letter-spacing: 0.12em;
}
/*general*/
#history>p,
#services>h1,
#services>h3.lh,
#services>ul,
#directions>h1,
#directions>h3.lh,
#directions>ul {
	display:      inline-block;
	margin-left:  1%;
	margin-right: 1%;
}
#history>p,
#services>h1,
#services>h3.lh {
	width: 48%;
}
#services>h1,
#directions>h1 {
	margin-top: 1.25em;
}
#history>#hgroup {
	display:       inline-block;
	margin-left:   1%;
	margin-right:  1%;
	width:         48%;
	margin-top:    1.25em;
	margin-bottom: 2em;
}
#history>p {
	text-align:justify;
	text-indent: 2em;
}
img[src="resources/images/shop.png"],
img[src="resources/images/speakers.png"],
#google-map,
#noscript-map {
	border: 0.3em solid #000;
}
img[src="resources/images/shop.png"],
img[src="resources/images/speakers.png"],
#directions>figure {
	margin-left:  2%;
	margin-right: 2%;
}
img[src="resources/images/shop.png"],
img[src="resources/images/speakers.png"] {
	width: 45%;
}
img[src="resources/images/shop.png"] {
	float:left;
	height: 19em;
}
img[src="resources/images/speakers.png"] {
	float:right;
	height: 22em;
}
#services>ul {
	width: 40%;
}
#services>ul,
#directions>ul {
	text-align:  left;
	line-height: 1.6;
}
#contact {
	display:    inline-block;
	width:      100%;
	height:     26em;
	background: transparent url(/resources/images/panel.png) no-repeat scroll center center;
}
#contact>address {
	margin: 6.5em auto 0.5em;
	font-size: 1.2em;
}
#contact>address>strong { /* This causes the store address text to display when styles are disabled. */
	display:none;
}
#contact>aside {
	display:    inline-block;
	margin:     auto;
	background: transparent url(/resources/images/duct-tape.png) no-repeat scroll center center;
	width:      40em;
	height:     12em;
}
#contact>aside>p {
	margin-top:  1.1em;
	line-height: 0.85;
	font-size:   2.5em;
	font-weight: bold;
	font-family: "Comic Sans MS", sans-serif;
	color:       #000;
}
#directions>h1,
#directions>h3.lh {
	width: 38%;
}
#directions>ul {
	width: 31%;
}
#directions>figure {
	display:    inline;
	float:      right;
	width:      56%;
	height:     30em;
	text-align: right;
}
#google-map,
#noscript-map {
	overflow: hidden;
	width:    100%;
	height:   100%;
}
#map-info {
	text-align: left;
	color:      #000;
}
#map-info>address {
	margin: 0.5em auto;
}
#map-info>footer {
	font-size: 0.8em;
}
#map-info>footer>span {
	margin: 0 0.5em;
}
